@import "~bootstrap/dist/css/bootstrap.min.css";


:root {
  --grey : #bababa ;
  --yellow : #f6ae00 ;
  --green:#8FBC32;
  --gray:#EEEEEF;
  --blue : #1961AC;
  --black-mate: #4d4d4d;
  --gray-header:#ABACAD;
  --background-blue : #1E62A9;
  --orange : #FEB300;
  --gray-2: #8d8d8d;
  --gray-3:#727272 ;
  --gray-4: #a4a4a4;
  --black-1:#202020;
  --black-2:#282828;
  --background-gray:#F8F9FA ;
  --background-white-gray:#ECF0F3 ;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: auto;
  padding: 0 10px;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button , input , textarea {
  font-family: inherit;
}
