.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.context {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.titleBox {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBox img {
  height: inherit;
}

.titleBox h1 {
  text-align: center;
  margin-left: -40px;
  margin-top: 40px;
  font-size: 2rem;
}

.titleBox span {
  color: var(--yellow);
}

.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topText {
  width: 80%;
  text-align: justify;
  line-height: 30px;
}

.employeeBox,
.materialsBox,
.machineryBox {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employeeBoxText,
.materialsBoxText,
.machineryBoxText {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
}

.employeeBoxText div,
.materialsBoxText div,
.machineryBoxText div {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
}

.employeeBoxText svg,
.materialsBoxText svg,
.machineryBoxText svg {
  width: 50px;
  height: 50px;
  color: var(--yellow);
}

.employeeBoxText p,
.materialsBoxText p,
.machineryBoxText p {
  font-weight: 700;
  font-size: 1.2rem;
}

.employeeBoxImg,
.materialsBoxImg,
.machineryBoxImg {
  width: 48%;
  height: 100%;
  overflow: hidden;
}

.employeeBoxImg img,
.materialsBoxImg img,
.machineryBoxImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------textBoxBottom----------------- */
.textBoxBottom {
  width: 100%;
  margin-top: 30px;
}

.textBoxBottom h4 {
  font-weight: 900;
  font-size: 1.7rem;
}

.textBoxBottom ul {
  list-style: none;
  margin-top: 30px;
}

.textBoxBottom li {
  display: flex;
  align-items: baseline;
  column-gap: 6px;
  color: black;
  margin-bottom: 10px;
  font-weight: 700;
}

.textBoxBottom svg {
  color: var(--yellow);
  width: 20px;
  height: 20px;
}

/* -------------About Galery---------------- */

.aboutGalery {
  width: 100%;
}

.aboutGaleryImg {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.aboutGaleryImgBox {
  width: 32%;
  height: 250px;
}

.aboutGaleryImgBox img {
  width: 100%;
  height: 100%;
}

.aboutImg {
  object-fit: cover;
}

.lohImg {
  object-fit: contain;
}

.aboutGalery :nth-child(1) {
  object-position: top;
}

.aboutGaleryVideo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.videoBoxMax {
  width: 66%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.videoBoxMin {
  display: none;
}

.imgLoh {
  width: 32%;
  height: 500px;
}

.imgLoh img {
  width: 100%;
  height: 100%;
}

/* ----------- media max-width 575.98px ------- */
@media only screen and (max-width: 575.98px) {
  .context {
    width: 100%;
  }

  .context h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  /* ---------------------------------------- */

  .textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topText {
    width: 90%;
    line-height: 25px;
    font-size: 0.9rem;
  }

  .employeeBox,
  .materialsBox,
  .machineryBox {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .employeeBoxText,
  .materialsBoxText,
  .machineryBoxText {
    width: 90%;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .employeeBoxText div,
  .materialsBoxText div,
  .machineryBoxText div {
    width: 100%;
    height: 100%;
    column-gap: 10px;
  }

  .employeeBoxText div {
    align-items: baseline;
  }

  .materialsBoxText div,
  .machineryBoxText div {
    align-items: flex-start;
  }

  .employeeBoxText svg,
  .materialsBoxText svg,
  .machineryBoxText svg {
    width: 30px;
    height: 30px;
  }

  .employeeBoxText p,
  .materialsBoxText p,
  .machineryBoxText p {
    font-size: 1rem;
  }

  .employeeBoxImg,
  .materialsBoxImg,
  .machineryBoxImg {
    width: 100%;
    height: 240px;
  }

  /* --------------textBoxBottom----------------- */
  .textBoxBottom {
    width: 90%;
    margin-top: 0;
  }

  .textBoxBottom h4 {
    font-size: 1.4rem;
  }

  .textBoxBottom ul {
    margin-top: 20px;
    padding: 0;
  }

  .textBoxBottom li {
    align-items: baseline;
    column-gap: 5px;
    margin-bottom: 7px;
    font-weight: 500;
    margin-left: 10px;
  }

  .textBoxBottom svg {
    color: var(--yellow);
    width: 20px;
    height: 20px;
  }

  /* ----------------- galery ----------- */
  .aboutGalery {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .aboutGaleryImg {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    row-gap: 10px;
  }

  .aboutGaleryImgBox {
    width: 100%;
    height: 250px;
  }

  .aboutGalery img {
    width: 100%;
    height: 250px;
  }

  .aboutGaleryVideo {
    flex-direction: column;
    margin-top: 0;
  }

  .videoBoxMax {
    display: none;
  }

  .videoBoxMin {
    display: block;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .imgLoh {
    width: 100%;
    height: 500px;
    margin-top: 10px;
  }

  .imgLoh img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
